.body__main,.container__main{
    width: 100%;
}
.content__main{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.conteudo{
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-family: var(--fonte);
}
button{
    font-size: 16px;
    padding: 0.3em;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    font-family: var(--fonte);
}
button:hover{
    border-color: var(--cor-secundaria) ;
}
.titulo{
    color: var(--cor-secundaria);
    font-family: var(--fonte);
    text-align: center;
}